/build*
/BEATS_DAQ_Control_Monitor/*
!/BEATS_DAQ_Control_Monitor/BEATS_DAQ_Control_Monitor.pro
!/BEATS_DAQ_Control_Monitor/client.cpp
!/BEATS_DAQ_Control_Monitor/client.h
!/BEATS_DAQ_Control_Monitor/main.cpp
!/BEATS_DAQ_Control_Monitor/mainwindow.cpp
!/BEATS_DAQ_Control_Monitor/mainwindow.h
!/BEATS_DAQ_Control_Monitor/mainwindow.ui
!/BEATS_DAQ_Control_Monitor/singleshot.cpp
!/BEATS_DAQ_Control_Monitor/singleshot.h
!/BEATS_DAQ_Control_Monitor/singleshot.ui
Scripts/*.out
Scripts/*.png
*.out
/docs*
